body {
    margin: 0;
}
header {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 952px;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 50px;
    background-color: #171717;
    width: 90%;
    height: 86px;
}
.bar {
    background-color: #171717;
    border-radius: 60px;
    padding: 20px 40px;
}
.bar-text {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}
.logo {
    width: 300px;
    padding: 20px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.logo-text {
    font-size: 35px;
    color: #fff;
    font-weight: bolder;
}
.info {
    position: relative;
    display: flex;
    align-items: center;
}
.title-frame {
    position: absolute;
    top: 37px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.hello-label {
    position: relative;
    width: 127px;
    height: 74px;
}
.line-svg {
    position: absolute;
    top: 0;
    right: 0;
}
.hello-icon {
    position: absolute;
    top: 20px;
    left: 0;
    text-align: center;
    border: #171717 1px solid;
    border-radius: 38px;
    padding: 12px 25px;
}
.small-text {
    font-size: 20px;
}
.title {
    font-size: 95px;
    text-align: center;
    width: 913px;
    line-height: 100%;
}
.title-color {
    color: #FD853A;
}
.line-svg2 {
    rotate: 167.61deg;
    width: 71px;
    height: 74px;
    position: absolute;
    top: 255px;
    left: 25px;

}
.left-frame {
    position: absolute;
    top: 373px;
    left: -700px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 24px;
}
.quote-icon {
    width: 36px;
    height: 36px;
}
.left-text {
    width: 350px;
    font-size: 20px;
}
.right-frame {
    position: absolute;
    top: 380px;
    left: 550px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 20px;
}
.star-bar {
    display: flex;
    align-items: center;
}
.expe-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    align-items: flex-end;
}
.year {
    font-weight: bold;
    font-size: 30px;
}
.center-frame {
    position: relative;
    top: 50px;
}
.ellipse1 {
    position: absolute;
    top: 410px;
    z-index: 1;
    left: -420px;
}
.woman {
    position: absolute;
    z-index: 2;
    top: 180px;
    left: -490px;
}
.small-bar {
    position: absolute;
    z-index: 3;
    top: 740px;
    left: -205px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px 10px;
    width: 370px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    border: 2px solid rgba(201,201,201,0.1);
    backdrop-filter: blur(10px);
}
.hover {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #FD853A;
    border-radius: 60px;
    border: 0.5px #D0D5DD solid;
}
.bar-label {
    font-size: 25px;
    color: #fff;
}
.service-container {
    display: flex;
    flex-direction: column;
    padding: 116px 71px;
    gap: 96px;
    border-radius: 50px;
    background: 
        url("asset/icon/black.png") center/cover
        #171717;
}
.service-title {
    display: flex;
    justify-content: space-between;
}
.service-text {
    font-size: 48px;
    color: #FD853A;
}
.service-dis {
    width: 576px;
    color: #fff;
    font-size: 20px;
}
.service-frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 39px;
}
.service-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.service-dots {
    display: flex;
    gap: 10px;
}
.rectangle {
    width: 60px;
    height: 15px;
    border-radius: 20px;
    background-color: #FD853A;
}
.circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #E4E7EC;
}
.work-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 71px;
    height: 800px;
}
.work-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 85px 0;
    width: 100%;
}
.big-text {
    font-size: 64px;
    color: #FD853A;
}
.work-frame {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.work-item {
    display: flex;
    flex-direction: column;
    gap: 102px;
}
.company-item {
    display: flex;
    flex-direction: column;
    gap: 14px;
}
.mid-text {
    font-size: 40px;
    color: #344054;
}
.date {
    font-size: 24px;
    color: #98A2B3;
}
.line-circle {
    width: 60px;
}
.reason-container {
    display: flex;
    flex-direction: column;
    padding: 122px 71px;
    gap: 96px;
    border-radius: 50px;
    background-color: #F2F4F7;
}
.reason-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.reason-content {
    display: flex;
    flex-direction: column;
    gap: 47px;
}
.reason-item {
    display: flex;
    gap: 50px;
}
.hirebutton {
    display: flex;
    width: fit-content;
    padding: 33px 59px;
    border-radius: 32px;
    border: 1px #171717 solid;
}
.portfolio-container {
    display: flex;
    flex-direction: column;
    padding: 97px 71px;
    gap: 48px;
}
.portfolio-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.see-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px 40px;
    background-color: #FD853A;
    border-radius: 60px;
    height: fit-content;
}
.see-text {
    font-size: 20px;
    color: #fff;
}
.portfolio-frame {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    width: 100%;
}
.portfolio-card {
    display: flex;
    gap: 24px;
}
.portfolio-bar {
    display: flex;
    gap: 14px;
}
.portbar-item {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px 32px;
    background-color: #F2F4F7;
    border-radius: 24px;
}
.portfolio-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.portcont-title {
    display: flex;
    gap: 18px;
    align-items: center;
}
.portcont-text {
    font-size: 20px;
    color: #344054;
    text-align: center;
}
.linkbutton {
    width: 58px;
    height: 58px;
}
.comment-title {
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    position: relative;
    width: 100%;
}
.small-mid-white {
    font-size: 20px;
    color: #fff;
    text-align: center;
}
.service-text.mid {
    text-align: center;
}
.line-white {
    position: absolute;
    left: 64%;
    top: 0;
}
.comment-content {
    gap: 24px;
    border-spacing: 24px;
    display: flex;              /* Flow row */
    overflow-x: auto;           /* 超出就水平滾動 */
    scroll-snap-type: x mandatory; /* 滑動停留在一張 */
}
.comment-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 14px;
    padding: 21px;
    border-radius: 24px;
    background-color: rgba(255, 255, 255, 0.14);
    backdrop-filter: blur(10px);
    width: 780px;
    position: relative;
}
.person {
    display: flex;
    gap: 12px;
}
.name {
    display: flex;
    flex-direction: column;
}
.service-dis.bold {
    font-size: 22px;
    font-weight: bold;
}
.service-dis.fit {
    width: 100%;
}
.quote-down {
    position: absolute;
    top: 10px;
    left: 640px;
}
.discuss-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 98px 0;
    justify-content: center;
    align-items: center;
}
.discuss-frame {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.email-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    border-radius: 50px;
    border: #E4E7EC 1px solid;
    backdrop-filter: blur(10px);
    width: 830px;
}
.email-frame {
    display: flex;
    gap: 17px;
    align-items: center;
}
.email-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #FFEAD5;
    width: 64px;
    height: 58px;
}
.email-dis {
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.dis-item {
    display: flex;
    align-items: center;
}
.dico-container {
    width: 100vw;
    overflow: hidden;
    height: 147px;
    border-radius: 24px 0 24px 0;
    background-color: #FB6514;
    position: relative;
}
.white-rect {
    position: absolute;
    width: max-content;
    left: -19px;
    top: 20px;
    rotate: -1.5deg;
    display: flex;
    gap: 15px;
    align-items: center;
    background-color: #fff;
}
.dico-text {
    font-size: 48px;
    width: fit-content;
    white-space: nowrap;
}
.blog-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
    padding: 97px 71px;
}
.big-text.blue {
    color: #344054;
    line-height: 65px;
}
.post-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.post-item {
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.post-image {
    position: relative;
}
.post-png {
    width: 416px;
    height: 432px;
}
.post-btn {
    position: absolute;
    top: 318px;
    left: 302px;
    display: flex;
    padding: 21px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #1D2939;
}
.post-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 32px;
    border-radius: 24px;
    background-color: #F2F4F7;
    width: fit-content;
}
.post-dis {
    display: flex;
    gap: 35px;
}
.post-dis-item {
    display: flex;
    gap: 10px;
    align-items: center;
}
.small-circle {
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: #FD853A;
}
.post-text {
    font-size: 32px;
}